@model AS.ImageAlbum.Website.Models.ImageData.ImageEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ImageEdit</h4>
<hr />
<div class="row">
    @if (!string.IsNullOrWhiteSpace(this.Model.Message))
    {
    <div class="col-md-12">
        <div class="alert alert-info">
            @this.Model.Message
        </div>
    </div>
    }
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ImageId" type="hidden" />
            <div class="form-group">
                <img src="@Model.ImageDisplay" alt="@Model.ImageAlt" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="custom-file-input" id="ImageFile" type="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAlt" class="control-label"></label>
                <input asp-for="ImageAlt" class="form-control" />
                <span asp-validation-for="ImageAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
</script>
}
